* {
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("vishnu-mohanan-pfR18JNEMv8-unsplash (1).jpg");

    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 5%;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {

    width: 100%;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.heading p {

    margin-top: 10%;
    padding: 0%;
    font-size: 150px;
    color: white;


}

.heading p2 {
    font-size: 50px;

}

.logo3 {
    position: absolute;
    right: 20%;
    height: 700px;
    top: 300px;
    image-resolution: 720p;
}

/*------about------------ */

#about {
    padding: 10px;
    color: white;

}


.about{
    padding-top: 50px;
    padding-left: 80px;
    font-size: 50px;
    padding-bottom: 50px;
}


.about-us-1 {
    flex-basis: 100%;
    width: 100%;

}

.about-us-1 img {
    padding: 10px 10px 10px;
    width: 50%;
    padding-top: 100px;
    border-radius: 30px;
    height: 500px;

}

.about-us-2 {
    flex-basis: 100%;
}
.about-us-2 .h1{
    padding: 50px;
}
.sub {
    font-size: 50px;
    width: 100%;
}

.head2 {
    font-size: 70px;

}

#SERVICES {
    padding: 50px 0;
    width: 100%;
}

.container {
    width: 100%;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;
    margin-top: 50px;

}

.services-list div {
    background-image: linear-gradient(blue, aqua);
    padding: 50px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 20px;
    transition: 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 20px;
}

.services-list div h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.services-list div a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
    font-size: 12px;
    display: block;
}

.services-list div:hover {
    background: black;
    transform: translateY(-10px);
}

#UPCOMING {
    padding: 50px 0;
    margin-left: 50px;
    position: absolute;
    margin-right: 50px;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    margin-top: 50px;

}

.event {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.event img {
    max-width: 100%;

    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6),darkblue, aqua);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: blue;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.event:hover img {
    transform: scale(1.1);
}

.event:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid aqua;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: bacckground 0.5s;
}

.btn:hover {
    background: blue;
}

/*................contactform..............................*/


.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 40px;
}

.contact-left p i {
    color: aqua;
    margin-right: 15px;
    font-size: 18px;
}

.social-media {
    margin-top: 30px;
}

.social-media a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: aqua;
    display: inline-block;
    transition: trasform 0.5s;
}

.social-media a:hover {
    color: blue;
    transform: translateY(-5px);

}

.btn.btn2 {
    display: inline-block;


}

.contact-right form {
    width: 100%;
    margin-top: 50px;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: wheat;
    font-size: 12px;
    border-radius: 6px;
    font-size: 12px;


}

form btn2 {
    padding: 14px 60px;
    font-size: 18px
}

/*...............response...*/
nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(newpot.jpeg);
    }

    .heading p {
        margin-top: 50%;
        font-size: 30px;
    }

    .heading p2 {
        font-size: 16px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        top: 0;
    }

    nav ul li {
        display: block;
        margin: 25px;

    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub {
        font-size: 40px;
    }

    .container {
        flex-basis: 100%;
    }

    .about-us-1 {
        flex-basis: 100%;
        width: 100%;
    }
    .about-us-1 img {
        width: 100%;
    }
    .about-us-2 {
        flex-basis: 100%;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
}

#MSG {
    color: yellow;
    margin-top: -20px;
    display: block;
}